@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?16140679');
  src: url('../fonts/fontello.eot?16140679#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?16140679') format('woff2'),
       url('../fonts/fontello.woff?16140679') format('woff'),
       url('../fonts/fontello.ttf?16140679') format('truetype'),
       url('../fonts/fontello.svg?16140679#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16140679#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-apple:before { content: '\e800'; } /* '' */
.icon-atom:before { content: '\e801'; } /* '' */
.icon-axis:before { content: '\e802'; } /* '' */
.icon-bacteria:before { content: '\e803'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-calculator:before { content: '\e805'; } /* '' */
.icon-cell:before { content: '\e806'; } /* '' */
.icon-clipboard:before { content: '\e807'; } /* '' */
.icon-compass:before { content: '\e808'; } /* '' */
.icon-dna-structure:before { content: '\e809'; } /* '' */
.icon-earth-globe:before { content: '\e80a'; } /* '' */
.icon-earth:before { content: '\e80b'; } /* '' */
.icon-element:before { content: '\e80c'; } /* '' */
.icon-flasks:before { content: '\e80d'; } /* '' */
.icon-magnet:before { content: '\e80e'; } /* '' */
.icon-magnifying-glass:before { content: '\e80f'; } /* '' */
.icon-medicines:before { content: '\e810'; } /* '' */
.icon-microscope:before { content: '\e811'; } /* '' */
.icon-molecular:before { content: '\e812'; } /* '' */
.icon-molecule:before { content: '\e813'; } /* '' */
.icon-observation:before { content: '\e814'; } /* '' */
.icon-petri-dish:before { content: '\e815'; } /* '' */
.icon-rat:before { content: '\e816'; } /* '' */
.icon-satellite:before { content: '\e817'; } /* '' */
.icon-scientist:before { content: '\e818'; } /* '' */
.icon-solar-system:before { content: '\e819'; } /* '' */
.icon-statistics:before { content: '\e81a'; } /* '' */
.icon-telescope:before { content: '\e81b'; } /* '' */
.icon-test-tube:before { content: '\e81c'; } /* '' */
.icon-thermometer:before { content: '\e81d'; } /* '' */
.icon-arrow-and-bow:before { content: '\e81e'; } /* '' */
.icon-big-diamond:before { content: '\e81f'; } /* '' */
.icon-big-joystick:before { content: '\e820'; } /* '' */
.icon-big-lightning:before { content: '\e821'; } /* '' */
.icon-big-shield:before { content: '\e822'; } /* '' */
.icon-big-skull:before { content: '\e823'; } /* '' */
.icon-big-white-flag:before { content: '\e824'; } /* '' */
.icon-bomb-lighting:before { content: '\e825'; } /* '' */
.icon-car-steering-wheel:before { content: '\e826'; } /* '' */
.icon-computer-set:before { content: '\e827'; } /* '' */
.icon-console-gun:before { content: '\e828'; } /* '' */
.icon-desk-computer:before { content: '\e829'; } /* '' */
.icon-dualshock:before { content: '\e82a'; } /* '' */
.icon-game-console-and-television:before { content: '\e82b'; } /* '' */
.icon-game-ghost:before { content: '\e82c'; } /* '' */
.icon-gamepad-buttons:before { content: '\e82d'; } /* '' */
.icon-hourglass-almost-finish:before { content: '\e82e'; } /* '' */
.icon-joystick-with-two-buttons:before { content: '\e82f'; } /* '' */
.icon-loving-heart:before { content: '\e830'; } /* '' */
.icon-magnet-pointing-up:before { content: '\e831'; } /* '' */
.icon-mouse-with-two-buttons:before { content: '\e832'; } /* '' */
.icon-new-game-boy:before { content: '\e833'; } /* '' */
.icon-nintendo-console:before { content: '\e834'; } /* '' */
.icon-nintendo-ds-open:before { content: '\e835'; } /* '' */
.icon-nintendo-gamepad-1:before { content: '\e836'; } /* '' */
.icon-nintendo-gamepad:before { content: '\e837'; } /* '' */
.icon-oculus-rift:before { content: '\e838'; } /* '' */
.icon-old-gameboy-console:before { content: '\e839'; } /* '' */
.icon-pacman-game:before { content: '\e83a'; } /* '' */
.icon-playstation-4:before { content: '\e83b'; } /* '' */
.icon-playstation-move:before { content: '\e83c'; } /* '' */
.icon-portable-game-console:before { content: '\e83d'; } /* '' */
.icon-race-car:before { content: '\e83e'; } /* '' */
.icon-robot-toy:before { content: '\e83f'; } /* '' */
.icon-rocket-launch:before { content: '\e840'; } /* '' */
.icon-round-medal:before { content: '\e841'; } /* '' */
.icon-sega-gamepad:before { content: '\e842'; } /* '' */
.icon-sega-megadrive:before { content: '\e843'; } /* '' */
.icon-sight:before { content: '\e844'; } /* '' */
.icon-sony-play-station-gamepad:before { content: '\e845'; } /* '' */
.icon-sony-play-station-portable:before { content: '\e846'; } /* '' */
.icon-sony-play-station:before { content: '\e847'; } /* '' */
.icon-speedometer:before { content: '\e848'; } /* '' */
.icon-swoords-crossed:before { content: '\e849'; } /* '' */
.icon-video-card:before { content: '\e84a'; } /* '' */
.icon-video-game-gun:before { content: '\e84b'; } /* '' */
.icon-wii-controller:before { content: '\e84c'; } /* '' */
.icon-x-box-console:before { content: '\e84d'; } /* '' */
.icon-x-box-gamepad:before { content: '\e84e'; } /* '' */
.icon-xbox:before { content: '\e84f'; } /* '' */
