body {
    color: #777;
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

a {
    color: rgb(255,68,85);
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.background-cover {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Buttons */
a.pure-button-primary {
    background-color: rgb(255,68,85);

}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}


/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    margin-bottom: 50px;
    line-height: 2em;
}

    .content h2 {
        margin: 50px 0 20px 0;
        font-weight: 400;
        color: rgb(66, 66, 66);
        text-align: center;
        font-size: 1.7em;
    }

    .content h3 {
        text-align:center;
    }

    .content p {
        text-align: justify;
        font-size: 1.2em;
        font-weight: 200;
    }
    .content li {
        font-size: 1.2em;
    }

    .content img {
        display: block;
        margin: auto;
    }


.page-content {
    width: 75%;
    margin: auto;
}

    .page-content h2 {
        text-align: center
    }

    .page-content blockquote {
        text-align: center;
        width: 50%;
        margin: 10em auto;
        font-style: italic;
    }

    .page-content blockquote p:before{
        content:"\f10d";
        font-family:"FontAwesome";
        margin-right: 0.5em;
    }


    .page-content blockquote p:after{
        content:"\f10e";
        font-family:"FontAwesome";
        margin-left: 0.5em;
    }

.header {
     margin: 0;
     color: rgb(51,51,51);
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 400;
    }
     .header h2 {
        font-weight: 400;
        color: rgb(255, 68, 85);
        padding: 0;
        margin-top: 0;
    }

/* Social icons */
.header-menu {
    margin:auto; 
    max-width: 90%; 
    justify-content: center;
    margin-bottom: 1em;
}

.personal-menu-item {
    margin: .4em .3em;
}

#social-wrapper a{
    color: rgb(51,51,51);
}


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#sidebar { 
    width: 20em;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */ 
    overflow: hidden;
    color: #FFF;
    display: table-cell;
    background: radial-gradient(at bottom left, #33bbbb, #004477, #001144);
}


#sidebar header {
    height: 100%;
    position:relative;
}

#scene-wrapper {
    position: absolute;
    left: -50%;
}

#scene {
    margin: 0;
    padding: 0;
}

.side-image {
}

    .side-image img {
        width: 180%;
        margin: 0;
    }

#header-wrapper {
    padding: 0.3em;
    padding-left: 1.5em;
    position:absolute;
    top: 72%;
}


#header-wrapper a {
    text-decoration: none;
    color: rgba(255,255,255,0.9) !important;
}

#header-wrapper h1{
    opacity:0.95;
    text-align:right;
    font-weight: 400;
}


/* --  Footer ----------------------------------------------------------------- */
#footer-wrapper {
    position:relative;
    padding: 0 1em;
}


    #footer-wrapper footer {
        font-size: 0.7em;
        position: absolute;
        bottom:0.5%;
    }
   
/* -- Blog Posts -------------------------------------------------------------- */
.posts {
    align-items: center;
}
.post {
    padding:1em;
    min-width:80px;
    margin: 0.5em;
}
    .post a {
        color: #FE543E !important;
        text-decoration: none; 
        text-align: justify;
        text-shadow: 1px 1px #01184A
    }


.post-description{
    height: 5em;
    overflow: auto;
    color: rgba(255,255,255,0.9);
    background-color: rgba(255,255,255,0.4);
    padding: 1em;
}
    .post-description p {
        text-align: justify;
        padding: 0;
        margin:0;
        line-height: 1.2em;
    }

/* -- Single article ------------------------------------------------------- */
.article-modified {
    color rgb(201, 201, 201);
    font-size: 0.8em;
}
#article-header {
    margin-bottom: 1em;
}

#article-header span {
    display: block
}

.author {
    margin-bottom: 1em;
    font-size: 1.5em;
}

.vcard a {
    font-style: normal;
    text-decoration: none;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48.1em) {

    .header,
    .content {
        /*padding-left: 2em;
        padding-right: 2em;*/
    }

    #layout {
        padding-left: 24em; /* left col width "#menu" */
        padding-right: 4em;
        left: 0;
    }
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */ 
    .pure-hidden-xs {
        display: none;
        visibility: hidden;
    }

    .page-content {
        width: 90%;
        margin: auto;
    }

    .yt-embed {
        text-align:center;
    }

}
