{% extends "page.html" %}
{% block title %}
{{ SITENAME }} | {{ article.title|striptags }}
{% endblock %}
{% block head %}
    {{ super() }}
    {% if article.description %}
        <meta name="description" content="{{ article.description }}">
    {% endif %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{ tag }}">
    {% endfor %}
{% endblock %}

{% block page_header %}
    <div id="article-header">
        <h1 id="article-title">{{ article.title}}</h1>
        {% if article.subtitle %}
        <h2> {{ article.subtitle }} </h2>
        {% endif %}
        {% if article.authors %}
        <address class="vcard author">
            {% for author in article.authors %}
            <a href="{{ SITEURL }}/{{ author.url }}">{{ author }} </a>
            {% endfor %}
        </address>
        {% endif %}
        <span class="article-published"> 
            <time datetime="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
            </time>
        </span>
        {% if article.modified %}
        <span class="article-modified">(Last Update: 
            <time datetime="{{ article.modified.isoformat() }}">
            {{ article.locale_modified }}
            </time>)
        </span>
        {% endif %}
    </div>
{% endblock page_header %}

{% block page_content %}
    <div class="page-content">
    {{ article.content }}
    </div>
{% endblock page_content %}

{% if article.image %}
{% block sidebar %}
        {% with SIDEBAR_IMG_URL = article.image %}
            {% include 'sidebar-static.html' %}
        {% endwith %}
{% endblock %}
{% endif %}
