{% extends 'page.html' %}
{% block title %} {{ SITENAME }} | Authors {% endblock %}

{% block page_header %}
<h1> Blog Authors </h1>
{% endblock %}

{% block page_content %}
<ul>
{% for author, articles in authors %}
<li><a href="{{ SITEURL }}/{{ author.url }}"> {{ author }} ({{ articles | count }})</a></li>
{% endfor %}
</ul>
{% endblock %}
