{% extends 'page.html' %}
{% block title %} {{ SITENAME }} | Categories {% endblock %}

{% block page_header %}
<h1> Blog Categories </h1>
{% endblock %}

{% block page_content %}
<ul>
{% for category, articles in categories %}
<li><a href="{{ SITEURL }}/{{ category.url }}"> {{ category }} ({{ articles | count }})</a></li>
{% endfor %}
</ul>
{% endblock %}
