{% extends 'page.html' %}
{% block title %}
{{ SITENAME }} | Blog posts
{% endblock %}

{% block page_header %}
<h1> Blog Posts </h1>
{% endblock page_header %}

{% block page_content %}
{% if articles_page.object_list %}
<div class="posts pure-g">
    {% for article in articles_page.object_list %}
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
                <section>
                    {% if article.image %}
                    <div class="post background-cover"  style="background-image:url({{ article.image }});">
                    {% else %}
                    <div class="post background-cover"  style="background-image:url({{ SITEURL}}/theme/img/side-image.jpg);">
                    {% endif %}
                    <header>

                        <div class="post-wrapper">
                            <h2 class="post-subhead"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                            <div class="post-description">
                                    <p class="aaa">{{ article.summary|striptags }}</p>
                            </div>
                        </div>
                    </header>
                </div>
                </section>
            </div>
    {% endfor %}
{% else %}
<p> No blog post found. </p>
</div>
{% endif %}
{% endblock page_content %}
