{% extends "page.html" %}

{% block title %}
{{ page.title |striptags }}
{% endblock %}

{% block page_header %}
    <h1>{{ page.title}}</h1>
    {% if page.subtitle %}
    <h2> {{ page.subtitle }} </h2>

    <div id="social-wrapper" class="pure-g header-menu">
        {% if page.email %}
        <div class="pure-u-1-4 pure-u-xl-1-6 personal-menu-item"><a href="mailto:{{ page.email }}"><i class="fa fa-envelope fa-3x"></i></a></div>
        {% endif %}
        {% if page.linkedin %}
        <div class="pure-u-1-4 pure-u-xl-1-6 personal-menu-item"><a href="{{ page.linkedin }}" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></div>
        {% endif %}
        {% if page.twitter %}
        <div class="pure-u-1-4 pure-u-xl-1-6 personal-menu-item"><a href="{{ page.twitter }}" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></div>
        {% endif %}
        {% if page.telegram %}
        <div class="pure-u-1-4 pure-u-xl-1-6 personal-menu-item"><a href="{{ page.telegram }}" target="_blank"><i class="fa fa-telegram fa-3x"></i></a></div>
        {% endif %}
        {% if page.github %}
        <div class="pure-u-1-4 pure-u-xl-1-6 personal-menu-item"><a href="{{ page.github }}" target="_blank"><i class="fa fa-github fa-3x"></i></a></div>
        {% endif %}
        {% if page.gitlab %}
        <div class="pure-u-1-4 pure-u-xl-1-6 personal-menu-item"><a href="{{ page.gitlab }}" target="_blank"><i class="fa fa-gitlab fa-3x"></i></a></div>
        {% endif %}
        {% if page.quora %}
        <div class="pure-u-1-4 pure-u-xl-1-6 personal-menu-item"><a href="{{ page.quora }}" target="_blank"><i class="fa fa-quora fa-3x"></i></a></div>
        {% endif %}
        {% if page.stackexchange %}
        <div class="pure-u-1-4 pure-u-xl-1-6 personal-menu-item"><a href="{{ page.stackexchange }}" target="_blank"><i class="fa fa-stack-exchange fa-3x"></i></a></div>
        {% endif %}

    </div> <!-- #social-wrapper -->

    {% if PERSONAL_MENUITEMS %}
    <div id="personal-menu" class="pure-g header-menu">
        {% for item in PERSONAL_MENUITEMS %}
        <div class="pure-u-1 pure-u-xl-1-5 personal-menu-item"><a href="{{ item[1] }}" class="pure-button pure-button-primary">{{ item[0] }}</a></div>
        {% endfor %}
    </div>
    {% endif %} 
{% endif %}
{% endblock page_header %}
