<div id="sidebar" style="background-image: url({{ SITEURL }}/{{ SIDEBAR_IMG_URL }}); background-size:cover;" class="pure-hidden-xs background-cover">
        <header>
            <div id="header-wrapper">
                <a href="{{ SITEURL }}"><h1 id="site-name" class="center-middle">{{ SITENAME }} </h1></a>
            </div>

        </header>
       {% include 'footer.html' %}
</div>
