<div id="sidebar" class="pure-hidden-xs background-cover">
    <div id="sidebar-wrapper">
        <div id="scene-wrapper">
            <ul id="scene">
                <li class="side-image layer" data-depth="0.70">
                    <img src="{{ SITEURL }}/theme/img/glyph.png" alt=""></li>
            </ul>
        </div>
    </div>

        <header>
            <div id="header-wrapper">
                <a href="{{ SITEURL }}"><h1 id="site-name" class="center-middle">{{ SITENAME }} <sup>Beta</sup> </h1></a>
            </div>

        </header>
       {% include 'footer.html' %}
</div>
